.poke__container {
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 3rem;
  min-height: 100vh;
}

@media screen and (min-width: 390px) {
  .poke__container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 620px) {
  .poke__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 780px) {
  .poke__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 980px) {
  .poke__container {

    grid-template-columns: repeat(5, 1fr);
  }
}